<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpustímTo</title>

    <link rel="stylesheet" href="/index/home.css" />
    <script src="/index/home.js"></script>
</head>
<body>
    <h1>SpustímTo</h1>
    <h2>Wiki s hardwarovými nároky PC her</h2>
</body>
</html>
